<?xml version="1.0" ?>
<launch>
  <node name="RiCTraffic" output="screen" pkg="ric_board" type="Start.py"/>
  <param command="$(find xacro)/xacro.py '$(find ric_description)/lizi/lizi_no_plugins.xacro'" name="robot_description"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="laser_scanner" output="screen" pkg="hokuyo_node" type="hokuyo_node">
    <param name="port" value="/dev/Hokuyo"/>
    <param name="frame_id" value="Laser_link"/>
  </node>
  <include file="$(find ric_board)/launch/hector_slam.launch">
    <arg name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame"/>
    <arg name="base_frame" value="base_link"/>
    <arg name="odom_frame" value="odom_link"/>
    <arg name="map_frame" value="map"/>
    <arg default="true" name="pub_map_odom_transform"/>
    <arg default="5" name="scan_subscriber_queue_size"/>
    <arg name="scan_topic" value="scan"/>
    <arg default="2048" name="map_size"/>
  </include>
  <rosparam command="load" file="$(find ric_board)/config/lizi102a_slam.yaml"/>
</launch>
