<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find robotican_armadillo)/description/models/armadillo.xacro'" />
	<include file="$(find robotican_hardware_interface)/launch/hokuyo_laser.launch">
				<arg name="input_dev" value="/dev/Hokuyo" />
				<arg name="frame_id" value="laser_link" />

	</include>
</launch>
