<launch>
	<rosparam file="$(find robotican_hardware_interface)/config/ric_board_example.yaml" command="load"/>
	<node name="robotican_hardware_interface" pkg="robotican_hardware_interface" type="robotican_hardware_interface_node" respawn="true" output="screen" respawn_delay="5">
	</node>
	
	<rosparam file="$(find robotican_hardware_interface)/config/controllers.yaml" command="load"/>
    
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true" respawn_delay="5" output="screen" args="
      robot_state_controller
      left_motor_controller
      right_motor_controller
      torso_position_controller
	  " />
</launch>
