<launch>
	<arg name="input_dev" default="/dev/video0" />
	<arg name="camera_frame_id" default="front_cam_link" />
	<arg name="pixel_format" default="yuyv" />
	<arg name="image_width" default="640" />
	<arg name="image_height" default="480" />
	<arg name="node_name" default="camera" />
	
	<node name="$(arg node_name)" output="screen" pkg="usb_cam" respawn="true" type="usb_cam_node">
		<param name="video_device" value="$(arg input_dev)"/>
		<param name="camera_frame_id" value="$(arg camera_frame_id)"/>
		<param name="pixel_format" value="$(arg pixel_format)"/>
		<param name="image_width" value="$(arg image_width)"/>
		<param name="image_height" value="$(arg image_height)"/>
	</node>
	
</launch>
