<launch>
        <param name="robot_description" textfile="$(find robotican_description)/robot_arms/armadillo_arm_urdf/robots/armadillo_arm_urdf.xacro" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
	<rosparam command="load" file="$(find dynamixel_pro_controller)/config/controllers.yaml"/>
	
 	<node pkg="dynamixel_pro_controller" type="dynamixel_pro_controller_node" name="hope_this_work" >
           <rosparam command="load" file="$(find dynamixel_pro_controller)/config/motors_config.yaml"/>
    </node>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args=" joint_state_controller  arm_position_controller " />
    
    
</launch>
