<?xml version="1.0" ?>
<launch>
	<arg name="imuTopic" default='/imu_AGQ'/> 
	<arg name="scaleForPitch" default='75.0'/> 
	<arg name="scaleForRoll" default='75.0'/> 
	<arg name="offsetForRoll" default='0.0'/> 
	<arg name="offsetForPitch" default='5.0'/> 
	<arg name="revMode" default='0'/> 

	<node name="ric_artificial_horizon" output="screen" pkg="ric_board" type="dial.py" args="$(arg imuTopic) $(arg scaleForPitch) $(arg scaleForRoll) $(arg offsetForRoll) $(arg offsetForPitch) $(arg revMode)"/>
</launch>
