<robot name="Top_Camera_link"><link name="Top_Camera_link">
    <inertial>
      <origin rpy="0 0 0" xyz="4.37351127445876E-06 0.000213430006923504 -0.00979905092954436" />
      <mass value="0.0346828331927942" />
      <inertia ixx="6.28791729321072E-06" ixy="-1.35017062474835E-09" ixz="1.30503198120059E-09" iyy="6.08019634391293E-06" iyz="3.61744833904195E-08" izz="9.95214453956468E-06" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/Top_Camera_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.1 0.1 0.1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/Top_Camera_link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
