<?xml version="1.0"?>
<launch>

       <include file="$(find robotican_armadillo)/launch/armadillo.launch">
     <arg name="gazebo" value="true"/>
     <arg name="world_name" value="$(find robotican_common)/worlds/objects_on_table.world"/> 
     <arg name="x" value="0.0"/>
     <arg name="y" value="0.0"/>
     <arg name="kinect2" value="true"/> 
     <arg name="rqt" value="true"/> 
     <arg name="moveit" value="true"/> 
    </include>

</launch>
