<robot name="Left_URF_link"><link name="Left_URF_link">
    <inertial>
      <origin rpy="0 0 0" xyz="1.6494E-05 -0.012085 1.486E-07" />
      <mass value="0.0020317" />
      <inertia ixx="8.4324E-08" ixy="-1.1443E-10" ixz="-1.6171E-09" iyy="9.8652E-08" iyz="-1.0309E-12" izz="7.8496E-08" />
    </inertial>
    <visual>
      <origin rpy="0 0 -1.57" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/lizi/meshes/Left_URF_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.19216 0.11961 0.13333 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/lizi/meshes/Left_URF_Link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
