<?xml version="1.0"?>
<launch>
  <arg name="joystick_dev" default="/dev/input/js0"/>

	<node pkg="joy" type="joy_node" name="joy_listener">
		<param name="dev" value="$(arg joystick_dev)" />
		<param name="autorepeat_rate" value="20" />
	</node>
	<node pkg="joy_teleop" type="joy_teleop.py" name="joy_teleop">
	</node>
</launch>
