<robot name="elevator_link"><link name="elevator_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0954671716579415 1.91586249009607E-06 -0.0185743175743276" />
      <mass value="1.09057945344451" />
      <inertia ixx="0.000835857275985966" ixy="5.81870910353681E-08" ixz="-3.13493979506258E-05" iyy="0.00128840659932805" iyz="1.45397132642805E-07" izz="0.00136461371089342" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/elevator_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.35 0.35 0.35 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/elevator_link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
