<?xml version="1.0"?>
<launch>
  
  <arg name="gazebo" default='false'/>
  
  <arg name="front_camera" default='false'/>
  <arg name="rear_camera" default='false'/>
  <arg name="lidar" default='false'/>
  <arg name="gps" default='false'/>
  <arg name="urf" default='false'/>
  <arg name="imu" default='false'/>
  <arg name="kinect2" default='false'/>
  <arg name="f200" default='false'/>
  
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.09"/>
  <arg name="R" default="0.0" />
  <arg name="P" default="0.0" />
  <arg name="Y" default="0.0" />
  
  <group if="$(arg gazebo)">
    
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find robotican_armadillo)/description/models/armadillo_gazebo.xacro' 
	   front_camera:=$(arg front_camera)
	   rear_camera:=$(arg rear_camera)
	   lidar:=$(arg lidar)
	   urf:=$(arg urf)
	   imu:=$(arg imu)
	   gps:=$(arg gps)
	   kinect2:=$(arg kinect2)
	   f200:=$(arg f200)
	   " /> 
	  
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
     <!--  <arg name="world_name" value="$(find robotican_demos)/worlds/gas_station.world"/> -->
     <!-- <arg name="world_name" value="$(find robotican_demos)/worlds/UPlat.sdf"/> -->
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
    </include>
    

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
	  args="-urdf -model armadillo -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/> 
    
    
    </group>
    
    <group unless="$(arg gazebo)">
      <rosparam file="$(find robotican_armadillo)/config/robot_config.yaml" command="load"/>
      <node name="robotican_hardware_interface" pkg="robotican_hardware_interface" type="robotican_hardware_interface_node" respawn="false" output="screen" >
		  <rosparam file="$(find robotican_armadillo)/config/arm_config.yaml" command="load"/> 
	  </node>
	  
	    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                arm_port:
                    port_name: "/dev/Gripper"
                    baud_rate: 2000000
                    min_motor_id: 1
                    max_motor_id: 2
                    update_rate: 20
        </rosparam>
        
		<node name="arm_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py" args="--manager=dxl_manager --port=arm_port left_finger_controller right_finger_controller" 
		output="screen"/>
		</node>
	  
	  <param name="robot_description" command="$(find xacro)/xacro.py '$(find robotican_armadillo)/description/models/armadillo.xacro'" /> 
    </group>
    
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    
    <rosparam file="$(find robotican_armadillo)/config/armadillo_controllers.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
	  robot_state_controller
	  mobile_base_controller
	  elevator_controller
	  pan_tilt_position_controller
	  arm_trajectory_controller
	  gripper_controller
	  " />
   
    </launch>
    
