<?xml version="1.0"?>
<launch>
  
  <arg name="gazebo" default='false'/>
  
  <arg name="controllers" default='true'/>
  
  <arg name="front_camera" default='false'/>
  <arg name="rear_camera" default='false'/>
  <arg name="lidar" default='false'/>
  <arg name="gps" default='false'/>
  <arg name="urf" default='false'/>
  <arg name="imu" default='false'/>
  <arg name="kinect2" default='false'/>
  <arg name="f200" default='false'/>
  
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.1"/>
  <arg name="R" default="0.0" />
  <arg name="P" default="0.0" />
  <arg name="Y" default="0.0" />
  
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    
      
  <group if="$(arg gazebo)">
    
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find robotican_armadillo)/description/models/armadillo_gazebo.xacro' 
	   controllers:=$(arg controllers)
	   front_camera:=$(arg front_camera)
	   rear_camera:=$(arg rear_camera)
	   lidar:=$(arg lidar)
	   urf:=$(arg urf)
	   imu:=$(arg imu)
	   gps:=$(arg gps)
	   kinect2:=$(arg kinect2)
	   f200:=$(arg f200)
	   " /> 
	  
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
     <!--  <arg name="world_name" value="$(find robotican_demos)/worlds/gas_station.world"/> -->
     <!-- <arg name="world_name" value="$(find robotican_demos)/worlds/UPlat.sdf"/> -->
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
    </include>
    

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
	  args="-urdf -model armadillo -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/> 
    
    
    </group>
    
    <group unless="$(arg gazebo)">
		<group if="$(arg front_camera)">
			<include file="$(find robotican_hardware_interface)/launch/usb_cam.launch">
				<arg name="input_dev" value="/dev/video0" />
				<arg name="camera_frame_id" value="front_cam_link" />
				<arg name="pixel_format" value="mjpeg" /> <!-- mjpeg, yuyv, uyvy  -->
				<arg name="image_width" value="800" />
				<arg name="image_height" value="800" />
				<arg name="node_name" value="front_cam" />
			</include>
		</group>
		<group if="$(arg rear_camera)">
			<include file="$(find robotican_hardware_interface)/launch/usb_cam.launch">
				<arg name="input_dev" value="/dev/video1" />
				<arg name="camera_frame_id" value="rear_cam_link" />
				<arg name="pixel_format" value="mjpeg" /> <!-- mjpeg, yuyv, uyvy  -->
				<arg name="image_width" value="800" />
				<arg name="image_height" value="800" />
				<arg name="node_name" value="rear_cam" />
			</include>
		</group>
		<group if="$(arg lidar)">
			<include file="$(find robotican_hardware_interface)/launch/hokuyo_laser.launch">
				<arg name="input_dev" value="/dev/Hokuyo" />
				<arg name="frame_id" value="laser_link" />
			</include>
		</group>
		<group if="$(arg kinect2)">
			<include file="$(find robotican_hardware_interface)/launch/usb_cam.launch">
				  <arg name="base_name"         value="kinect2"/>
				  <arg name="sensor"            value=""/>
				  <arg name="publish_tf"        value="true"/>
				  <arg name="base_name_tf"      value="$(arg base_name)"/>
				  <arg name="fps_limit"         value="-1.0"/>
				  <arg name="calib_path"        value="$(find kinect2_bridge)/data/"/>
				  <arg name="use_png"           value="false"/>
				  <arg name="jpeg_quality"      value="90"/>
				  <arg name="png_level"         value="1"/>
				  <arg name="depth_method"      value="default"/>
				  <arg name="depth_device"      value="-1"/>
				  <arg name="reg_method"        value="default"/>
				  <arg name="reg_device"        value="-1"/>
				  <arg name="max_depth"         value="12.0"/>
				  <arg name="min_depth"         value="0.1"/>
				  <arg name="queue_size"        value="5"/>
				  <arg name="bilateral_filter"  value="true"/>
				  <arg name="edge_aware_filter" value="true"/>
				  <arg name="worker_threads"    value="4"/>
				  <arg name="machine"           value="localhost"/>
				  <arg name="nodelet_manager"   value="$(arg base_name)"/>
				  <arg name="start_manager"     value="true"/>
				  <arg name="use_machine"       value="true"/>
				  <arg name="respawn"           value="true"/>
				  <arg name="use_nodelet"       value="true"/>
		    </include>
		</group>
		<group if="$(arg f200)">

		</group>

		<param name="robot_description" command="$(find xacro)/xacro.py '$(find robotican_armadillo)/description/models/armadillo.xacro'" />
		<rosparam file="$(find robotican_armadillo)/config/robot_config.yaml" command="load"/>
		<node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
			<rosparam>
				namespace: dxl_manager
				serial_ports:
					arm_port:
						port_name: "/dev/Gripper"
						baud_rate: 57142
						min_motor_id: 1
						max_motor_id: 2
						update_rate: 20
			</rosparam>
		</node>
		<node name="arm_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
		  args="--manager=dxl_manager
				--port=arm_port
		left_finger_controller
		right_finger_controller"
				output="screen"/>
				
		<node name="robotican_hardware_interface" pkg="robotican_hardware_interface" type="robotican_hardware_interface_node" respawn="false" output="screen" >
		<rosparam file="$(find robotican_armadillo)/config/arm_config.yaml" command="load"/> 
		</node> 
    </group>
    
    

  <group if="$(arg controllers)">
    
    <rosparam file="$(find robotican_armadillo)/config/armadillo_controllers.yaml" command="load"/>
    
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="	  
      robot_state_controller
	  mobile_base_controller
	  elevator_controller
	  pan_tilt_position_controller
	  arm_trajectory_controller
	  gripper_controller" />
     </group>
    </launch>
    
