<launch>
	<include file="$(find dynamixel_pro_controller)/launch/test.launch" />
	<include file="$(find dynamixel_pro_atj)/launch/server_start.launch" />
	<include file="$(find h_manipulator_moveit)/launch/gripper.launch" />
	<include file="$(find h_manipulator_moveit)/launch/move_group.launch" />
	<include file="$(find dynamixel_gripper_atj)/launch/run_gripper.launch" />
        <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find test_arm_nadiv)/config/move_group.rviz" output="screen" />
</launch>
