<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="komodo">
	<xacro:include filename="$(find robotican_description)/robot_arms/armadillo_arm_urdf/robots/armadillo_arm_urdf.URDF" />
	
	<link name="dummy_link">
	</link>
	<joint name="dummy_joint" type="fixed">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
		<parent link="dummy_link" />
		<child link="base_arm_link" />
		<axis xyz="0 0 0" />

	</joint>
	
	<gazebo> 
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
		</plugin> 
	</gazebo>

	<transmission name="rotation1_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="rotation1_joint">
			<hardwareInterface>PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="rotation1_motor">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	</transmission>
	
	<transmission name="shoulder1_trans">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="shoulder1_joint">
			<hardwareInterface>PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="shoulder1_motor">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	</transmission>
	

    
		<!--
	<transmission name="tran2">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="arm_shoulder1_joint">
			<hardwareInterface>PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="motor2">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	</transmission>
	
	<transmission name="tran3">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="arm_shoulder2_joint">
			<hardwareInterface>PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="motor3">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	</transmission>
	
	<transmission name="tran4">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="arm_rotation2_joint">
			<hardwareInterface>PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="motor4">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	</transmission>

	<transmission name="tran5">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="arm_shoulder3_joint">
			<hardwareInterface>PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="motor5">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	</transmission>
	

	<transmission name="tran6">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="arm_wrist_joint">
			<hardwareInterface>PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="motor6">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	</transmission>
	
	<transmission name="tran7">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="gripper_r_joint">
			<hardwareInterface>PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="motor7">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	</transmission>
	
	<transmission name="tran8">
		<type>transmission_interface/SimpleTransmission</type>
		<joint name="gripper_l_joint">
			<hardwareInterface>PositionJointInterface</hardwareInterface>
		</joint>
			<actuator name="motor8">
				<mechanicalReduction>1</mechanicalReduction>
			</actuator>
	</transmission>
	
	-->
	
</robot>
