<robot name="Asus_Pan_link"><link name="Asus_Pan_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.015533 -0.010751 0.019512" />
      <mass value="0.016162" />
      <inertia ixx="5.2781E-06" ixy="1.178E-06" ixz="1.1286E-06" iyy="6.0052E-06" iyz="7.9421E-07" izz="4.7257E-06" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/lizi/meshes/Asus_Pan_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/lizi/meshes/Asus_Pan_Link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
