<robot xmlns:xacro="http://www.ros.org/wiki/ric_gazebo" name="lizi">
	<!-- Load all the links  -->
	<link name="base_link">
    		<inertial>
      			<origin rpy="0 0 0" xyz="-0.036889 0.00027038 0.069426" />
      			<mass value="4.706" />
      			<inertia ixx="0.032024" ixy="0.00038846" ixz="-0.0046108" iyy="0.065583" iyz="2.8552E-06" izz="0.076391" />
    		</inertial>
    		<visual>
      			<origin rpy="0 0 0" xyz="0 0 0" />
      			<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/base_link.STL" />
      			</geometry>
      			<material name="">
        			<color rgba="${lizi_color}" />
      			</material>
    		</visual>
    		<collision>
      			<origin rpy="0 0 0" xyz="0 0 0" />
      			<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/base_link.STL" />
      			</geometry>
    		</collision>
  	</link>

	<link name="FL_Wheel_link">
    		<inertial>
      			<origin rpy="0 0 0" xyz="2.9411E-11 -0.0075967 5.8231E-11" />
      			<mass value="0.4084" />
      			<inertia ixx="0.00059356" ixy="3.4979E-14" ixz="-4.6514E-14" iyy="0.0011268" iyz="5.6928E-14" izz="0.00059356" />
    		</inertial>
    		<visual>
      			<origin rpy="0 0 0" xyz="0 0 0" />
     	 		<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/FL_Wheel_Link.STL" />
      			</geometry>
      			<material name="">
        			<color rgba="0.2 0.2 0.2 1" />
      			</material>
    		</visual>
    		<collision>
      			<origin rpy="0 0 0" xyz="0 0 0" />
      			<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/FL_Wheel_Link.STL" />
      			</geometry>
    		</collision>
  	</link>

	<link name="FR_Wheel_link">
    		<inertial>
      			<origin rpy="0 0 0" xyz="-2.9052E-11 0.0035967 5.8411E-11" />
      			<mass value="0.4084" />
      			<inertia ixx="0.00059356" ixy="3.4627E-14" ixz="4.9977E-14" iyy="0.0011268" iyz="-5.7142E-14" izz="0.00059356" />
    		</inertial>
    		<visual>
      			<origin rpy="0 0 0" xyz="0 0 0" />
      			<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/FR_Wheel_Link.STL" />
      			</geometry>
      			<material name="">
        			<color rgba="0.2 0.2 0.2 1" />
      			</material>
    		</visual>
    		<collision>
      			<origin rpy="0 0 0" xyz="0 0 0" />
      			<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/FR_Wheel_Link.STL" />
      			</geometry>
    		</collision>
  	</link>

	<link name="RL_Wheel_link">
    		<inertial>
      			<origin rpy="0 0 0" xyz="2.9411E-11 -0.0035967 5.8231E-11" />
      			<mass value="0.4084" />
      			<inertia ixx="0.00059356" ixy="3.4979E-14" ixz="-4.6514E-14" iyy="0.0011268" iyz="5.6928E-14" izz="0.00059356" />
    		</inertial>
    		<visual>
      			<origin rpy="0 0 0" xyz="0 0 0" />
      			<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/RL_Wheel_Link.STL" />
      			</geometry>
      			<material name="">
        			<color rgba="0.2 0.2 0.2 1" />
      			</material>
    		</visual>
    		<collision>
      			<origin rpy="0 0 0" xyz="0 0 0" />
      			<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/RL_Wheel_Link.STL" />
      			</geometry>
    		</collision>
  	</link>

	<link name="RR_Wheel_link">
    		<inertial>
      			<origin rpy="0 0 0" xyz="-2.9411E-11 0.0035967 5.8231E-11" />
      			<mass value="0.4084" />
      			<inertia ixx="0.00059356" ixy="3.4979E-14" ixz="4.6514E-14" iyy="0.0011268" iyz="-5.6928E-14" izz="0.00059356" />
    		</inertial>
    		<visual>
      			<origin rpy="0 0 0" xyz="0 0 0" />
      			<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/RR_Wheel_Link.STL" />
      			</geometry>
      			<material name="">
        			<color rgba="0.2 0.2 0.2 1" />
      			</material>
    		</visual>
    		<collision>
      			<origin rpy="0 0 0" xyz="0 0 0" />
      			<geometry>
        			<mesh filename="package://robotican_description/lizi/meshes/RR_Wheel_Link.STL" />
      			</geometry>
    		</collision>
  	</link>

	<!--         END         -->
	<!-- Load all the joints -->
	<joint name="FL_Wheel_Joint" type="$(arg wheels_type)">
    		<origin xyz="0.118 0.1338 0.026" rpy="0 0 -1.3371E-16" />
    		<parent link="base_link" />
    		<child link="FL_Wheel_link" />
    		<axis xyz="0 1 0" />
  	</joint>
	<joint name="RL_Wheel_Joint" type="$(arg wheels_type)">
    		<origin xyz="-0.118 0.1338 0.026" rpy="0 0 -6.6853E-16" />
    		<parent link="base_link" />
    		<child link="RL_Wheel_link" />
    		<axis xyz="0 1 0" />
    		<limit effort="0" velocity="0" />
  	</joint>
	<joint name="RR_Wheel_Joint" type="$(arg wheels_type)">
    		<origin xyz="-0.118 -0.1338 0.026" rpy="-1.2938E-16 -1.2938E-15 -6.6853E-16" />
    		<parent link="base_link" />
    		<child link="RR_Wheel_link" />
    		<axis xyz="0 1 0" />
  	</joint>
	<joint name="FR_Wheel_Joint" type="$(arg wheels_type)">
    		<origin xyz="0.118 -0.1338 0.026" rpy="4.4216E-16 -0.0061583 -2.6824E-16" />
    		<parent link="base_link" />
    		<child link="FR_Wheel_link" />
    		<axis xyz="0 1 0" />
  	</joint>	

	<!--         END         -->
</robot>
