<robot name="FL_Wheel_link"><link name="FL_Wheel_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00160662480262744 -2.59228543311729E-06 1.49951351856364E-05" />
      <mass value="3.83427523136739" />
      <inertia ixx="0.0296525525807749" ixy="1.51001277133356E-06" ixz="2.35766660656153E-06" iyy="0.0163749526386264" iyz="1.2254511654214E-06" izz="0.0163720506916083" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://ric_description/komodo/meshes/FL_Wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5 0" xyz="0 0 0" />
      <geometry>
       
        <cylinder length="0.05" radius="0.1" />
      </geometry>
    </collision>
  </link>
  </robot>