<robot name="base_link"><link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.036889 0.00027038 0.069426" />
      <mass value="4.706" />
      <inertia ixx="0.032024" ixy="0.00038846" ixz="-0.0046108" iyy="0.065583" iyz="2.8552E-06" izz="0.076391" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/lizi/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="${lizi_color}" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/lizi/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
