<robot name="Camera_link"><link name="Camera_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.010925 -4.5428E-06 0.00024772" />
      <mass value="0.033156" />
      <inertia ixx="9.3903E-06" ixy="-1.4061E-09" ixz="5.0587E-08" iyy="5.845E-06" iyz="-2.4174E-09" izz="5.8692E-06" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/lizi/meshes/Camera_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/lizi/meshes/Camera_Link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
