<robot name="base_link"><link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0205330571995271 4.54409684683429E-05 0.00735986203300292" />
      <mass value="45.0894999160313" />
      <inertia ixx="0.723503030508731" ixy="-46.8485359152423E-05" ixz="-0.0875564429068847" iyy="1.38127064231828" iyz="11.9695110167269E-05" izz="1.94371448739423" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/col_base_link.STL" />
      </geometry>
      <material name="">
       <color rgba="0.52941176470588 0.52941176470588 0.52941176470588 1" /> 
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.065 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/col_base_link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
