<robot name="FR_Wheel_link"><link name="FR_Wheel_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00160662478940524 -2.59227836232889E-06 1.49952129885679E-05" />
      <mass value="3.8342752339456" />
      <inertia ixx="0.0296525526023316" ixy="1.51001308635369E-06" ixz="2.3576732629264E-06" iyy="0.0163749526634419" iyz="1.22545882852199E-06" izz="0.0163720506902763" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/FR_Wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5 0" xyz="0 0 0" />
      <geometry>
       
        <cylinder length="0.05" radius="0.1" />
      </geometry>
    </collision>
  </link>
  </robot>
