<robot name="RR_Wheel_link"><link name="RR_Wheel_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00160662476834383 -2.59238516814309E-06 1.49950507030127E-05" />
      <mass value="3.83427523968864" />
      <inertia ixx="0.0296525526652264" ixy="1.5100019082583E-06" ixz="2.35765651707649E-06" iyy="0.0163749526901628" iyz="1.22544631738128E-06" izz="0.0163720507270359" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/RR_Wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.5 0" xyz="0 0 0" />
      <geometry>
       
        <cylinder length="0.05" radius="0.1" />
      </geometry>
    </collision>
  </link>
  </robot>
