<launch>
    <arg name="x" default="0.0"/>
	<arg name="y" default="0.0"/>
	<arg name="z" default="0.05"/>
	<arg name="R" default="0.0" />
	<arg name="P" default="0.0" />
	<arg name="Y" default="0.0" />
	
	<arg name="paused" default="false"/>
  	<arg name="use_sim_time" default="true"/>
  	<arg name="gui" default="true"/>
  	<arg name="headless" default="false"/>
  	<arg name="debug" default="false"/>
  	
	
  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
  		<!--  <arg name="world_name" value="$(find robotican_simulation)/worlds/gas_station.world"/> -->
    		<arg name="debug" value="$(arg debug)" />
    		<arg name="gui" value="$(arg gui)" />
    		<arg name="paused" value="$(arg paused)"/>
    		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
    		<arg name="headless" value="$(arg headless)"/>
  	</include>
  	

	<param name="robot_description" command="$(find xacro)/xacro.py '$(find robotican_simulation)/models/armadillo.xacro'" />
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
			args="-urdf -model armadillo -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/> 
			
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
	
	<rosparam file="$(find robotican_simulation)/config/armadillo/armadillo.yaml" command="load"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
	base_joint_state_controller
	mobile_base_controller
	elevator_controller
	head_pan_controller
	head_tilt_controller
	dynamixel_pro_action_server
	gripper_controller
	" />



	<!--  <node pkg="tf" type="static_transform_publisher" name="base_arm_link_broadcaster" args="0 0 0 0 0 0 map base_arm_link 50" /> -->
	
  	
</launch>
