<!-- -*- mode: XML -*- -->

<launch>
  	<arg name="paused" default="false"/>
  	<arg name="use_sim_time" default="true"/>
  	<arg name="gui" default="true"/>
  	<arg name="headless" default="false"/>
  	<arg name="debug" default="false"/>
  	<!-- We resume the logic in empty_world.launch -->
  	<include file="$(find gazebo_ros)/launch/empty_world.launch">
  		<!--  <arg name="world_name" value="$(find robotican_simulation)/worlds/gas_station.world"/> -->
    		<arg name="debug" value="$(arg debug)" />
    		<arg name="gui" value="$(arg gui)" />
    		<arg name="paused" value="$(arg paused)"/>
    		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
    		<arg name="headless" value="$(arg headless)"/>
  	</include>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find robotican_simulation)/models/komodo.xacro'  ns:='init' color_name:='Grey'" />
	
</launch>
