
<!-- -*- mode: XML -*- -->
<launch>
  
	<arg name="name" default="lizi"/>
	<arg name="color" default="Green"/>
	<arg name="front_camera" default='false'/>
	<arg name="depth_camera" default='false'/>
	<arg name="laser_scanner" default='false'/>
	<arg name="urf" default='false'/>
	<arg name="imu" default='false'/>
	<arg name="pan_tilt" default='false'/>
  
	<arg name="x" default="0.0"/>
	<arg name="y" default="0.0"/>
	<arg name="z" default="0.1"/>
	<arg name="R" default="0.0" />
	<arg name="P" default="0.0" />
	<arg name="Y" default="0.0" />
  
  
	<group ns="$(arg name)">
		<param name="tf_prefix" value="$(arg name)" />
    
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find robotican_simulation)/models/lizi.xacro' 
			ns:=$(arg name) 
			color:=$(arg color)
			gazebo:='true'
			front_camera:=$(arg front_camera)
			depth_camera:=$(arg depth_camera)
			laser_scanner:=$(arg laser_scanner)
			urf:=$(arg urf)
			imu:=$(arg imu)
			pan_tilt:=$(arg pan_tilt)
			wheels_type:=continuous
	   " /> 

    
		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
			args="-urdf -model $(arg name) -param robot_description -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/> 
    
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
		<!-- <node name="pcloud_rot_node" pkg="ric_gazebo" type="pcloud_rot_node" cwd="node" output="screen" /> --> 
		<rosparam file="$(find robotican_simulation)/config/lizi/lizi_controllers.yaml" command="load"/>
		<group if="$(arg pan_tilt)">    
			<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
				output="screen" args="joint_state_controller 
				pan_controller
				tilt_controller
			"/>		      
		</group> 
    
		<group unless="$(arg pan_tilt)"> 
			<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
				output="screen" args="joint_state_controller" 
			/>	      
		</group> 
		<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /$(arg name)/odom_link 20" /> 
	</group>
</launch>

