<?xml version="1.0" ?>
<launch>
	<include file="$(find ric_board)/scripts/startGpsStatus.launch"/>
	<include file="$(find ric_board)/scripts/artificial_horizon.launch">
		<arg name="scaleForPitch" value="-90.0"/>
		<arg name="offsetForPitch" value="0.0"/>
		<arg name="revMode" value="-1"/>
	</include>
	<node name="rviz" output="screen" pkg="rviz" type="rviz" args="-d $(find ric_description)/rvizConfig/demo.rviz"/>
</launch>
