<robot name="Arm_base_link"><link name="Arm_base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0168723530982394 -5.23224904403848E-05 0.038112696778507" />
      <mass value="1.08982930885161" />
      <inertia ixx="0.00311458437968986" ixy="-7.0610782277189E-06" ixz="-0.000262941654993437" iyy="0.00855106134499406" iyz="1.00391927392762E-06" izz="0.0104177337437887" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/Arm_base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/Arm_base_link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
