<robot name="left_finger_link"><link name="left_finger_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-6.10622663543836E-16 0.0205697573116852 0.0301832532936965" />
      <mass value="0.0111981711598485" />
      <inertia ixx="9.77349829713274E-06" ixy="6.1354405537333E-20" ixz="3.95573177730842E-20" iyy="1.11277552627936E-05" iyz="2.19026618569787E-06" izz="3.8860219521149E-06" />
    </inertial>
    <visual>
      <origin rpy="0.185 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/left_finger_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/left_finger_link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
