<robot name="right_finger_link"><link name="right_finger_link">
    <inertial>
      <origin rpy="0 0 0" xyz="2.77555756156289E-16 -0.0205697573116854 0.0301832532936965" />
      <mass value="0.0111981711598485" />
      <inertia ixx="9.7734982971327E-06" ixy="1.80407068651258E-20" ixz="2.78908224261042E-20" iyy="1.11277552627935E-05" iyz="-2.19026618569788E-06" izz="3.88602195211489E-06" />
    </inertial>
    <visual>
      <origin rpy="-0.185 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/right_finger_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/right_finger_link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
