<robot name="RL_Wheel_link"><link name="RL_Wheel_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00160662477936549 -2.59222765522371E-06 1.49952106412736E-05" />
      <mass value="3.83427523542708" />
      <inertia ixx="0.0296525526119397" ixy="1.5100179619978E-06" ixz="2.35767335983606E-06" iyy="0.0163749526769378" iyz="1.22544931791974E-06" izz="0.0163720506885898" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/RL_Wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.15 0.15 0.15 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://robotican_description/komodo/meshes/RL_Wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  </robot>
